#!/usr/bin/make -f

%:
	dh $@

override_dh_makeshlibs:

override_dh_compress:
	dh_compress -X.pdf

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md

# Ubuntu uses zstd but that doesn't work on Debian
override_dh_builddeb:
	dh_builddeb -- -Zxz
